<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/carrinho.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
    <title>TheFace</title>
</head>
<body> 
    <header>
        <span>TheFace</span>
    </header>
    <main>
        <div class="page-title">Sua sacola</div>
        <div class="content">
            <section>
                <table>
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Total</th>
                            <th>-</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produto in carrinho_detalhes %}
                        <tr>
                            <td>
                                <div class="product">
                                    <img src="{{ Produto 4 }}" alt="">
                                    <div class="info">
                                        <div class="name">{{ produto['nome'] }}</div>
                                    </div>
                                </div>
                            </td>
                            <td>R$ {{ produto['valor'] }}</td>
                            <td>
                                <div class="qty">
                                    <button><i class="bx bx-minus"></i></button>
                                    <span>{{ produto['quantidade'] }}</span>
                                    <button><i class="bx bx-plus"></i></button>
                                </div>
                            </td>
                            <td>R$ {{ produto['valor'] * produto['quantidade'] }}</td>
                            <td>
                                <form action="/remover_item" method="post">
                                    <input type="hidden" name="produto_id" value="{{ loop.index0 }}">
                                    <button type="submit" class="remove"><i class="bx bx-x"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>


            <aside>
                <div class="box">
                    <header>Resumo da compra</header>
                    <div class="info">
                        <div><span>Sub-total</span><span>R$ 418</span></div>
                        <div><span>Frete</span><span>Gratuito</span></div>
                    </div>
                    <footer>
                        <span>Total</span>
                        <span>R$ 418</span>
                    </footer>
                </div>
                <button>Finalizar Compra</button>
            </aside>
        </div>
    </main>
    <script src="/static/carrinho.js"></script>
</body>
</html>