<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styleface.css">
    <link rel="stylesheet" href="/static/styles-carrosel.css">
    <script src="https://kit.fontawesome.com/cbfeaec436.js" crossorigin="anonymous"></script>
    <title>TheFace</title>
</head>
<body>
    <nav>
        <div class="logo">TheFace</div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="/carrinho">Carrinho</a></li>
            <li><a href="#">Usuário</a></li>
        </ul>
    </nav>

    <div class="container1-face">
    <div class="apresenta-face">
        <!-- <img src="/img/lancamento.png" alt="Principal"> -->
        <!-- <h1 class="principal-face">A essência da elegância em cada gota</h1>. -->
    </div>
    </div>

    <div class="container2-face">
    <div id="produtoSorteado">
        <!-- <img src="" alt="Produto Sorteado" id="imagemProduto"> -->
        <button id="botaoSortear">Sortear</button>
    </div>
    </div>

    <div class="container3-face">

    <input type="text" id="pesquisa" oninput="pesquisar()" placeholder="Pesquise aqui...">

    <div class="container">
        <div class="carrossel">
          <div class="interior-carrossel">
            {% for produto in produtos %}
            <div class="itens ativo">
              <img src="{{ produto[4] }}" alt="">
              <div class="desc">
                <h4>{{ produto[1] }}</h4>
                <p>{{  produto[3] }}</p>
              <form action="/adicionar_carrinho" method="post">
                <input type="hidden" name="produto_id" value="{{ produto.id_do_produto }}">
                <button type="submit">Adicionar ao Carrinho</button>
              </form>
              </div>
            </div>
          {% endfor %}
          </div>
          <button class="anterior">&#10094;</button>
          <button class="próximo">&#10095;</button>
        </div>
      </div>
    </div>
    <script src="/static/scriptface.js"></script>

    <section class="carousel-section">
      <h2>Descubra quem já usou nossos produtos!</h2>
      <div class="carousel">
        <div class="lista">
          <div class="item active">
            <div class="content">Gisele Bundchen</div>
            <img src="/static/img/gisele.jpg">
          </div>
          <div class="item">
            <div class="content">Gal Gadot</div>
            <img src="/static/img/gado.jpg">
          </div>
          <div class="item hidden">
            <div class="content">Georgina Rodriguez</div>
            <img src="/static/img/georgina.jpg" alt="Serum Amaderado">
          </div>
          <div class="item hidden">
            <div class="content">Alex Stocco</div>
            <img src="/static/img/alex.png" alt="Serum Amaderado">
          </div>    
        </div>
        <div class="controls">
          <button class="prev">❮</button>
          <button class="next">❯</button>
        </div>
      </div>
    </section>

    <div class="login-container">
      <h2 class="h2-login">Login</h2>
      <form action="/login" method="POST">
          <div class="form-group-login">
              <label for="login-email">Email:</label>
              <input type="email" id="login-email" name="email" required>
          </div>
          <div class="form-group-login">
              <label for="login-senha">Senha:</label>
              <input type="password" id="login-senha" name="senha" required>
          </div>
          <button type="submit" id="entrar">Entrar</button>
          <p class="p">{{ mensagem }}</p> <!-- Exibirá a mensagem de sucesso ou falha -->
          <p class="p">Ainda não tem uma conta?</p>
          <a href="/cadastro">Cadastre-se</a>
          <div class="mensagem" id="mensagem-cadastro"></div> <!-- Elemento para exibir a mensagem -->
          
      </form>
    </div>
    <script src="/static/carrossel.js"></script>
</body>
</html>
